NODE_ENV=development

WEB_BASE_URL="http://localhost:4321"
WEB_BASE_PATH="/"
PUBLIC_API_URL="http://your_domain/app/api"
PUBLIC_API_URL_DEV="http://localhost:8787/app/api"
PUBLIC_TURNSTILE_SITE_KEY=""
