.env
.svelte-kit
node_modules
GEMINI.md
AGENTS.md
dist
.DS_Store
.vscode
.turbo
prisma/*.db
apps/**/prisma/*.db
*_bk
.astro
debug-storybook.log
.tmp_bun
*storybook.log
storybook-static
.serena
.editorconfig
.npmrc
bun.lock
.uv-cache/
.wrangler/
**/test-results/
**/playwright-report/
wrangler.toml
