NODE_ENV="development"

# api 用の環境変数
API_BASE_URL=""
API_PORT=
DATABASE_URL=""
ALLOWED_ORIGINS=""
JWT_SECRET="your_jwt_secret_key_here" # JWTの署名に使用する秘密鍵
AUDIT_LOG_ENCRYPTION_KEY="your_audit_log_encryption_key_here" # 監査ログの機密情報を暗号化するための秘密鍵


TURNSTILE_SECRET_KEY=""
TURNSTILE_SITE_KEY=""
LOGINS_TURNSTILE_SECRET_KEY=""
LOGINS_TURNSTILE_SITE_KEY=""

# 開発時にTurnstileの検証をバイパスしたい場合は、以下のコメントを解除
# BYPASS_TURNSTILE="true"

# メール送信サービス (Resend)
RESEND_API_KEY=""
RESEND_WEBHOOK_SECRET=""
CRON_JOB_SECRET=""

# Cloudflare R2 (ファイルアップロード用)
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY=""
CLOUDFLARE_R2_SECRET_KEY=""
CLOUDFLARE_R2_BUCKET=""
CLOUDFLARE_R2_PUBLIC_BASE_URL=""
